$brown: #a16a3d;
$body-bg: #fff9e4;
$font-color: #58595b;
$dark-font-color: #6c4023;
$dark-brown: #82552e;
$nav-color: #fffac2;
$max-width: 1000px;
$tab-shadow :#5f442c;
$lighter-brown: #b67846;
$btn-bg-color: #747679;
$gray: #7d7f80;